body {
    background-color: lightblue;
}
.nav-bar{
    background-image: url("./photos/starry_night_192398.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 50px;
}
.navigation{
    margin-top: 15px;
    width: 550px;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
}
.nav-li{
    font-size: 22px;
    font-weight: bold;
    color: white;
}
.hamburger{
    position: absolute;
    top: 40px;
    right: 25px;
    width: 35px;
    height: 40px;
    display: none;
    color: white;
    cursor: pointer;
}
.line{
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 50px;
    top:50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-out;
}
.line-up{
    top: 25%;
}
.line-down{
    top: 75%;
}
.clicked-hamburger .line-up{
    top:50%;
    transform: rotate(45deg);
}
.clicked-hamburger .line-middle{
    display: none;
}
.clicked-hamburger .line-down{
    top:50%;
    transform: rotate(-45deg);
}
.ajax-wrapper{
    margin:30px
}
.div-heading{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.91);
    font-weight: bold;
}
.added-ul{
    margin: 20px 0 20px 10px;
    font-size: 16px;
    list-style-type: none;
}
.buttons{
    background-color: #3636fd;
    color: white;
    cursor: pointer;
}
.margin{
    margin-left: 15px;
}

@media (max-width: 770px) {
    .navigation{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .nav-bar{
        flex-direction: column;
    }
    .navigation.clickedNav{
        display: block;
        width: 100%;
        transition: all 0.2s linear;
    }
    .nav-ul{
        text-align: right;
        line-height: 35px;
        flex-direction: column;
    }
}